@font-face {
  font-family: "custom-icon"; /* Project id 2428368 */
  src: url('//at.alicdn.com/t/font_2428368_ieffj6xsvhf.woff2?t=1624931230790') format('woff2'),
       url('//at.alicdn.com/t/font_2428368_ieffj6xsvhf.woff?t=1624931230790') format('woff'),
       url('//at.alicdn.com/t/font_2428368_ieffj6xsvhf.ttf?t=1624931230790') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-shezhi:before {
  content: "\e610";
}

.custom-icon-to-be-received:before {
  content: "\e691";
}

.custom-icon-shijian:before {
  content: "\e605";
}

.custom-icon-youhuiquan:before {
  content: "\e60d";
}

.custom-icon-anquanzhongxin89:before {
  content: "\e723";
}

.custom-icon-lianxiwomen-copy:before {
  content: "\e675";
}

.custom-icon-yaoqingyouli:before {
  content: "\e608";
}

.custom-icon-guanzhu:before {
  content: "\e60f";
}

.custom-icon-changjianwenti:before {
  content: "\e676";
}

.custom-icon-fankui:before {
  content: "\e698";
}

.custom-icon-xiangyou-copy:before {
  content: "\e623";
}

.custom-icon-daifahuo:before {
  content: "\e602";
}

.custom-icon-daipingjia:before {
  content: "\e772";
}

.custom-icon-daifukuan:before {
  content: "\e625";
}

.custom-icon-pen:before {
  content: "\e667";
}

.custom-icon-weixuanzhong:before {
  content: "\e6cf";
}

.custom-icon-yixuanzhong:before {
  content: "\e6d0";
  color: #FF5511;
}

.custom-icon-dianpu:before {
  content: "\e624";
}

.custom-icon-service:before {
  content: "\e636";
}

.custom-icon-gouwuche:before {
  content: "\e657";
}

.custom-icon-home:before {
  content: "\e6f9";
}

.custom-icon-fenlei:before {
  content: "\e60e";
}

.custom-icon-gerenzhongxin:before {
  content: "\e637";
}

.custom-icon-home-copy:before {
  content: "\e6fa";
}

.custom-icon-fenlei-copy:before {
  content: "\e6fb";
}

.custom-icon-gerenzhongxin-copy:before {
  content: "\e6fc";
}

.custom-icon-gouwuche-copy:before {
  content: "\e6fd";
}

.custom-icon-shoucang:before {
  content: "\e6fe";
  color: #FF5000;
}

.custom-icon-shouhuodizhi:before {
  content: "\e616";
}

.custom-icon-fukuantongzhi:before {
  content: "\e60c";
}

.custom-icon-dingdan:before {
  content: "\e604";
}

.custom-icon-kefu:before {
  content: "\e60b";
}

.custom-icon-tuikuan:before {
  content: "\e6b6";
}

.custom-icon-fenxiang:before {
  content: "\e6d1";
}

.custom-icon-shoucang1:before {
  content: "\e62a";
  
}
